name: Test helm chart documentation

on: pull_request

jobs:
  validate-documentation:
    name: validate-docs
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Set up Helm
        uses: azure/setup-helm@v3

      - uses: supplypike/setup-bin@v1
        with:
          uri: 'https://github.com/norwoodj/helm-docs/releases/download/v1.11.3/helm-docs_1.11.3_Linux_x86_64.tar.gz'
          name: 'helm-docs'
          version: '1.11.3'

      - name: generate & compare documentation
        run: |
          chmod +x ./scripts/validate-docs.sh
          ./scripts/validate-docs.sh
